@media (max-width: 63.9375em) {
  .btn {
    padding: 15px 16px;
  }
  #nav .sub-nav a {
    padding: 5px 12px;
  }
  .contact-content .contact-form .contact-info {
    line-height: 2;
  }
  .contact-content .contact-form .form-control {
    padding: 15px;
  }
  #footer .social-list {
    font-size: 48px;
  }
  #footer .social-list a {
    margin: 0 8px;
  }
  #footer .copy-right a {
    display: inline-block;
    padding: 12px 0;
  }
}

@media (max-width: 47.9375em) {
  .mt-sm-8 {
    margin-top: 8px !important;
  }
  .w-sm-100,
  .col-sm-12 {
    width: 100%;
  }
  #nav {
    display: block;
  }
  #nav li {
    display: block;
  }
  #nav li:first-child {
    display: inline-block;
  }
  #header {
    overflow: hidden;
  }
  #header .search-btn {
    display: none;
  }
  #header .mobile-menu-btn {
    display: block;
  }
  #nav li a {
    padding: 1px 24px;
  }
  #nav .sub-nav {
    position: initial;
    background-color: #333;
  }
  #nav .sub-nav a {
    color: #fff;
    padding: 6px 42px;
  }
  #content .member-img {
    width: 60%;
  }
  .contact-content .contact-form {
    margin-top: 32px;
  }
}
