// PC
@media (min-width: 1024) {
    
}

// Tablet
@media (min-width: 768px) and (max-width: 1023px) {
    
}

// Mobile
@media (max-width: 767px) {
    .mt-sm-8 {
        margin-top: 8px !important;
    }

    .w-sm-100,
    .col-sm-12 {
        width: 100%;
    }

    #nav {
        display: block;

        li {
            display: block;

            &:first-child {
                display: inline-block;
            }
        }
    }

    #header  {
        overflow: hidden;

        .search-btn {
            display: none;
        }

        .mobile-menu-btn {
            display: block;
        }
    }

    #nav {
        li a {
            padding: 1px 24px;
        }

        .sub-nav {
            position: initial;
            background-color: #333;

            a {
                color: #fff;
                padding: 6px 42px;
            }
        }
    }

    #content {
        .member-img {
            width: 60%;
        }
    }

    .contact-content {
        .contact-form {
            margin-top: 16px;
        }
    }
}