/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-family: Arial, Helvetica, sans-serif;
}

#main {

}

#header {
    height: 46px;
    background-color: #000;
}

#nav {
    li {
        display: inline-block;
        a {
            color: #fff;
            text-decoration: none;
            line-height: 46px;
            padding: 0 24px;
        }

        &:hover a {
            color: #000;
            background-color: #ccc;
            display: inline-block;
        }
    }

    .sub-nav {
        display: none;
    }
}

#slider {

}

#content {

}

#footer {

}
