/* Reset CSS */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}

.row {
  margin-left: -8px;
  margin-right: -8px;
}

.row::after {
  content: "";
  display: table;
  clear: both;
}

.col {
  float: left;
  padding-left: 8px;
  padding-right: 8px;
}

.col-2 {
  width: 50%;
}

.col-3 {
  width: 33.33333%;
}

.col-12 {
  width: 100%;
}

.clear {
  clear: both;
}

.text-white {
  color: #fff !important;
}

.text-center {
  text-align: center !important;
}

.mt-8 {
  margin-top: 8px !important;
}

.mt-16 {
  margin-top: 16px !important;
}

.btn {
  border: none;
  color: #fff;
  display: inline-block;
  background-color: #000;
  text-decoration: none;
  padding: 10px 16px;
}

.btn:hover {
  cursor: pointer;
  color: #000;
  background-color: #ccc;
}

.pull-right {
  float: right !important;
}

#header {
  height: 46px;
  background-color: #000;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
}

#header .search-btn {
  float: right;
  padding: 0 21px;
}

#header .search-btn:hover {
  cursor: pointer;
  background-color: #f44336;
}

#header .search-btn .search-icon {
  color: #fff;
  font-size: 20px;
  line-height: 46px;
}

#nav {
  display: inline-block;
  list-style-type: none;
}

#nav li {
  display: inline-block;
  position: relative;
}

#nav li:hover .sub-nav {
  display: block;
}

#nav li a {
  text-decoration: none;
  line-height: 46px;
  padding: 0 24px;
  display: block;
}

#nav > li:hover > a {
  color: #000;
  background-color: #ccc;
}

#nav > li > a {
  color: #fff;
  text-transform: uppercase;
}

#nav .sub-nav {
  display: none;
  position: absolute;
  top: 100%;
  min-width: 160px;
  background-color: #fff;
  list-style-type: none;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

#nav .sub-nav a {
  color: #000;
  padding: 0 12px;
  line-height: 36px;
}

#nav .sub-nav li {
  width: 100%;
}

#nav .sub-nav li:hover > a {
  color: #000;
  background-color: #ccc;
}

#nav .nav-arrow-down {
  font-size: 12px;
}

#slider {
  background: url("../img/slider/chicago.jpg") top center/cover no-repeat;
  margin-top: 46px;
  padding-top: 50%;
  position: relative;
}

#slider .text-content {
  position: absolute;
  bottom: 48px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  color: #fff;
  text-align: center;
}

#slider .text-content .text-heading {
  font-weight: 500;
  font-size: 24px;
  margin-bottom: 25px;
}

#slider .text-content .text-description {
  font-size: 15px;
}

#content .content-section {
  width: 800px;
  padding: 64px 0 112px;
  margin-left: auto;
  margin-right: auto;
}

#content .content-section .section-heading {
  font-size: 30px;
  font-weight: 500;
  text-transform: uppercase;
  text-align: center;
  letter-spacing: 4px;
}

#content .content-section .section-sub-heading {
  font-size: 15px;
  font-style: italic;
  text-align: center;
  margin-top: 25px;
  opacity: .6;
}

#content .content-section .about-text {
  font-size: 15px;
  margin-top: 25px;
  text-align: justify;
  line-height: 1.4;
}

#content .member-list {
  margin-top: 48px;
}

#content .member-name {
  font-size: 15px;
}

#content .member-img {
  margin-top: 15px;
  width: 154px;
  border-radius: 4px;
}

.tour-section {
  background-color: #000;
}

.ticket-list {
  margin-top: 36px;
  background-color: #fff;
}

.ticket-list li {
  color: #757575;
  padding: 11px 16px;
  font-size: 15px;
  border-bottom: 1px solid #ddd;
  list-style: none;
}

.ticket-list .sold-out {
  background-color: #f44336;
  color: #fff;
  margin-left: 16px;
  padding: 3px 4px;
}

.ticket-list .quantity {
  float: right;
  width: 24px;
  height: 24px;
  background-color: #000;
  border-radius: 50%;
  color: #fff;
  text-align: center;
  line-height: 24px;
  margin-top: -3px;
}

.place-list {
  margin-top: 32px;
}

.place-list .place-img {
  display: block;
  width: 100%;
}

.place-list .place-img:hover {
  opacity: .6;
}

.place-list .place-content {
  background-color: #fff;
  padding: 16px;
  font-size: 15px;
}

.place-list .place-heading {
  font-size: 15px;
}

.place-list .place-date {
  margin-top: 15px;
  color: #757575;
}

.place-list .place-desc {
  margin-top: 15px;
  line-height: 1.4;
}

.contact-content {
  margin-top: 48px;
}

.contact-content .contact-info {
  font-size: 18px;
  line-height: 1.5;
}

.contact-content .contact-info i[class^="ti-"] {
  display: inline-block;
  width: 30px;
}

.contact-content .contact-form {
  font-size: 15px;
}

.contact-content .contact-form .form-control {
  padding: 10px;
  border: 1px solid #ccc;
  width: 100%;
}

.map-section img {
  -webkit-filter: grayscale(50%);
          filter: grayscale(50%);
  width: 100%;
}

#footer {
  padding: 64px 16px;
  text-align: center;
}

#footer .social-list {
  font-size: 24px;
}

#footer .social-list a {
  color: rgba(0, 0, 0, 0.6);
  text-decoration: none;
}

#footer .social-list a:hover {
  color: rgba(0, 0, 0, 0.4);
}

#footer .copy-right {
  color: rgba(0, 0, 0, 0.6);
  margin-top: 15px;
}

#footer .copy-right a {
  color: rgba(0, 0, 0, 0.6);
}
/*# sourceMappingURL=style.css.map */